<div class="direction-container">
  <!--  <div class="reservation">-->

  <div class="users">
    <div *ngFor="let user of ['Para mi', 'Colega', 'Invitado']; let i = index;" [ngClass]="{ active: i === 0 }"
         class="user-type">
      <div class="icon">

      </div>
      <div class="text">
        {{ user }}
      </div>
    </div>
  </div>

  <div class="origin">
    <div *ngFor="let other of ['', '', '', '', '', '']; let i = index;" [ngClass]="{ active: i === 0 }"
         class="origin-place">{{i + 1}}</div>
  </div>
  <div class="deparment">
    Cundinamarca
  </div>
  <div class="destination">
    <input placeholder="¿Donde te recogemos?" type="text">
  </div>
  <div class="places-destination">
    <div class="places">

    </div>
    <div class="places-title">
      Favoritos
    </div>
    <div class="places-favorites">
      <div class="place" *ngFor="let place of ['', '', '', '', ''];">
        <div class="icon">

        </div>
        <div class="name">
          <div class="title">
            Ivesur
          </div>
          <div class="description">
            Cra 56 #19-84
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  </div>-->
</div>

<agm-map>
  <agm-direction [destination]="destination" [origin]="origin">
  </agm-direction>
</agm-map>
