<div @blockInitialRenderAnimation>
  <div *ngIf="isShown" @flyInOut class="direction-container">
    <div class="users">
      <div *ngFor="let user of ['Para mi', 'Colega', 'Invitado']; let i = index;" [ngClass]="{ active: i === 0 }"
           class="user-type">
        <div class="icon">

        </div>
        <div class="text">
          {{ user }}
        </div>
      </div>
    </div>
    <div class="origin">
      <ng-container *ngFor="let origin of placesOrigin; let i = index;">
        <div *ngIf="origin.active" class="select">
          <div [ngClass]="{ active: origin.active }"
               class="origin-place">{{i + 1}}</div>
          <div class="text">Origen</div>
        </div>
      </ng-container>
      <div class="unselected">
        <ng-container *ngFor="let origin of placesOrigin; let i = index;">
          <div (click)="changeOrigin(origin)" *ngIf="!origin.active" class="origin-place">{{i + 1}}</div>
        </ng-container>
      </div>
    </div>
    <div class="deparment">
      Cundinamarca
    </div>
    <div class="destination">
      <input [formControl]="address" placeholder="¿Donde te recogemos?" type="text">
    </div>
    <div class="places-destination">
      <div (click)="changeDestination(place)" *ngFor="let place of placesDestination$ | async; let i = index"
           class="place">
        <div class="name">
          <div class="title">
            {{place.name}}
          </div>
          <div class="description">
            {{place.formattedAddress}}
          </div>
        </div>
      </div>
      <div class="places-title">
        Favoritos
      </div>
      <div (click)="changeDestination(place)" *ngFor="let place of favoritePlaces;" class="place">
        <div class="icon">

        </div>
        <div class="name">
          <div class="title">
            {{place.name}}
          </div>
          <div class="description">
            {{place.formattedAddress}}
          </div>
        </div>
      </div>
    </div>
    <div class="btn-mobile">
      <div (click)="isShown = !isShown" class="btn">
        >
      </div>
    </div>
  </div>
</div>

<div (click)="isShown = !isShown" *ngIf="!isShown" @flyInOut class="btn-mobile-view">
  <div class="btn">
    >
  </div>
</div>

<router-outlet></router-outlet>
